# Maven build tools
# -----------------
#
# Configuration script
#
#   distribution=[artifactPath] -- Specify the name/path of the distribution artifact that should be deployed remotely.
#                                   Default: "", Don't deploy a distribution.
#   remote=[user@]host          -- Specify the remote username and host to log into in order to deploy a distribution.
#                                   Default: "", Can't deploy or synchronize.
#   remoteRepo=[path]           -- Specify the path on the remote that the local repository should be synchronized with.
#                                   Default: "", Can't synchronize.
#   releasePom=[01]             -- Specify whether a trimmed down release POM should be generated instead of using the project's POM for releases.
#                                   Default: 0, Use the project's POM for releases.

